# Dependências
node_modules/

# Build / saída
dist/
build/
.cache/

# Ferramentas de otimização / relatórios
lighthouse-report.*
lh-*.json
*.log

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Variáveis de ambiente
.env
.env.local
